 @model List<ViewModels.ExportingProcedureVM>
@{
	var langCookies = Context.Request.Cookies.FirstOrDefault(c => c.Key == "Lang").Value;
	var lang = string.IsNullOrEmpty(langCookies) ? "ar" : langCookies;
}
<!-- Page Header Start -->
<div class="container-fluid py-1">
	<div class="container py-2">
		<div class="row align-items-center py-4">
			<div class="col-md-6 text-center text-md-right">
				<h3 class="mb-4 mb-md-0 text-primary text-uppercase output">
					اشترطات التصدير
				</h3>
			</div>
			<div class="col-md-6 text-center text-md-left">
				<div class="d-inline-flex align-items-center">
					@* <a class="btn btn-secondary" href="">الصفحة الرئيسية</a> *@
					<a href="@Url.Action("Index", "Home")" class="btn btn-secondary">
						الصفحة الرئيسية
					</a>
					<i class="fas fa-angle-double-right text-primary mx-2"></i>
					<a class="btn btn-secondary disabled" href="">التصدير</a>
					<i class="fas fa-angle-double-right text-primary mx-2"></i>
					<a class="btn btn-secondary disabled" href="">اشترطات التصدير</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Page Header Start -->
<!-- Contact Start -->
<div class="container-fluid bg-light">
	<div class="container pt-5">
		<form class="text-start" style="display:flex;">
			<div class="row">
				<div class="col-md-4">

					<label class="label lbl-style ">المنشأ</label>

					<br>
					<br>
					@* /////////////rrrr_13-5-2025///////////////// *@

					@Html.DropDownList("CountryName", (IEnumerable
											<SelectListItem>)ViewData["CountryList"], "-- اختار --", new { @id = "ImInitiatorListId", @class = "form-control", onchange = "updateInitiatorName()" })





				</div>
				<div class="col-md-4">

					<label class="label lbl-style ">النباتات</label>

					<br>
					<br>
					@Html.DropDownList("ItemName", (IEnumerable
											<SelectListItem>)ViewData["ItemList"], "-- اختار --", new { @id = "ItemListId", @class = "form-control", onchange = "updateItemName()" })




				</div>
				<div style="display: none;" class="col-md-4">

					<label class="label lbl-style ">مسمي مختصر</label>

					<br>
					<br>
					<select class="operator form-control">
						<option value="">مسمي مختصر</option>
						<option value="">___</option>
						<option value="">___</option>
						<option value="">__</option>
						<option value="">__</option>
					</select>


				</div>
			</div>
			<br />

			@* /////////////////////search button////////////////////////// *@
			<center style="margin-bottom: 15px;">

				<input id="btnsearch" type="submit" class="btn btn-info btn-lg " name="btnSave" value="بحث">
			</center>
		</form>
		@* //////////////////////////partial view 24/5/2025////////////////////////// *@
		<div class="card-body pt-5">
			<div id="divdata">

				@{
					if (Model != null && Model.Count > 0)
					{
						<div class="row">

							<table id="resultsTable" class="table table-bordered">
								<thead>
									<tr>
										@* <th scope="col">ID</th> *@
										<th scope="col">اسم الدولة</th>
										<th scope="col">اسم النبات</th>
										<th scope="col">الاسم المختصر</th>
										<th scope="col">الشروط بالعربية</th>
										<th scope="col">الشروط بالانجليزيه</th>
										<th scope="col">الشهاده بالعربية</th>
										<th scope="col">الشهاده بالنجليزيه</th>
									</tr>
								</thead>
								<tbody>
									@foreach (var item in @Model)
									{
										<tr>
											<td>@item.CountryName</td>
											<td>@item.itemName</td>
											<td>@item.ShortName_Ar</td>
											<td>@item.ConstrainText_Ar</td>
											<td>@item.ConstrainText_En</td>
											<td>@item.InSide_Certificate_Ar</td>
											<td>@item.InSide_Certificate_En</td>


										</tr>
									}

								</tbody>
							</table>
						</div>

					}
					else
					{
						<div class="row">
							<div class="col-md-12 text-center">
								<img src="~/img/emptyData.jpg" />
								<p class="text-bold">@(lang == "ar" ? "لا يوجد بيانات" : "No Data Found")</p>
							</div>
						</div>
					}
				}

			</div>
		</div>

	</div>
</div>
