@model ViewModels.DashboardVM
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.5.0"></script>
<style>
    .col-md-4 {
        background: #e3e3e3;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
</style>
<br />
<br>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <canvas id="myChart2" style="width:100%;max-width:600px"></canvas>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <canvas id="myChart1" style="width:100%;max-width:600px"></canvas>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <canvas id="myChart3" style="width:100%;max-width:600px"></canvas>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <canvas id="myChart4" style="width:100%;max-width:600px"></canvas>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
    </div>
    <div class="col-md-1"></div>  
    <div class="col-md-1"></div>
</div>
<script>
    /* ====================== BAR CHART ====================== */
    console.log(@ViewBag.People);

    const xValues = ["الشركات ", "الهيئات", "الأفراد"];
    const yValues = [
        @ViewBag.Company_Nationals,
        @ViewBag.Public_Organizations,
        @ViewBag.People
    ];
    const barColors = ["red", "green", "blue", "yellow", "pink"];

    const ctx = document.getElementById('myChart');
    new Chart(ctx, {
        type: "bar",
        data: {
            labels: xValues,
            datasets: [{
                backgroundColor: barColors,
                data: yValues
            }]
        },
        options: {
            plugins: {
                legend: { display: false },
                title: {
                    display: true,
                    text: "التغيرات بالنسبة للأفراد والهيئات والشركات",
                    font: { size: 16 }
                }
            }
        }
    });


    /* ====================== LINE CHART ====================== */
    


    /* ====================== PIE CHART (COUNTRIES) ====================== */
    let xValuesCountries = [
        @foreach (var item in Model.Countries)
        {
                <text>"@item.Country",</text>
        }
    ];

    xValuesCountries = @Html.Raw(
                System.Text.Json.JsonSerializer.Serialize(
                        Model.Countries.Select(x => x.Country)
                )
        );

    console.log("xValuesCountries:", xValuesCountries);

    const yValuesCountries = [
        @foreach (var item in Model.Countries)
        {
                <text>@item.CountOrders,</text>
        }
    ];

    const ctx1 = document.getElementById('myChart1');
    new Chart(ctx1, {
        type: "pie",
        data: {
            labels: xValuesCountries,
            datasets: [{
                backgroundColor: barColors,
                data: yValuesCountries
            }]
        },
        options: {
            plugins: {
                legend: { display: true },
                title: {
                    display: true,
                    text: "أعلى خمس دول بالنسبة للوارد",
                    font: { size: 16 }
                }
            }
        }
    });


    /* ====================== DOUGHNUT CHART (PRODUCTS) ====================== */
    let xValuesproducts = [
        @foreach (var item in Model.Products)
        {
                <text>"@item.Country",</text>
        }
    ];

    xValuesproducts = @Html.Raw(
                System.Text.Json.JsonSerializer.Serialize(
                        Model.Products.Select(x => x.Country)
                )
        );

    console.log("xValuesproducts:", xValuesproducts);

    const yValuesProducts = [
        @foreach (var item in Model.Products)
        {
                <text>@item.CountOrders,</text>
        }
    ];

    const ctx2 = document.getElementById('myChart2');
    new Chart(ctx2, {
        type: "doughnut",
        data: {
            labels: xValuesproducts,
            datasets: [{
                backgroundColor: barColors,
                data: yValuesProducts
            }]
        },
        options: {
            plugins: {
                legend: { display: true },
                title: {
                    display: true,
                    text: "أعلى أربع منتجات بالنسبة للوارد",
                    font: { size: 16 }
                }
            }
        }
    });


    /* ====================== DOUGHNUT CHART (PRODUCTS) ====================== */
    let xValuesproductsEX = [
         @foreach (var item in Model.ProductsEX)
         {
                     <text>"@item.Country",</text>
         }
     ];

     xValuesproductsEX = @Html.Raw(
                                  System.Text.Json.JsonSerializer.Serialize(
                                                  Model.ProductsEX.Select(x => x.Country)
                                  )
                  );

     const yValuesProductsEX = [
         @foreach (var item in Model.ProductsEX)
         {
                     <text>@item.CountOrders,</text>
         }
     ];

     const ctx3 = document.getElementById('myChart3');
     new Chart(ctx3, {
         type: "doughnut",
         data: {
             labels: xValuesproductsEX,
             datasets: [{
                 backgroundColor: barColors,
                 data: yValuesProductsEX
             }]
         },
         options: {
             plugins: {
                 legend: { display: true },
                 title: {
                     display: true,
                     text: "أعلى أربع منتجات بالنسبة للصادر",
                     font: { size: 16 }
                 }
             }
         }
     });

     /* ====================== PIE CHART (COUNTRIES) ====================== */
    let xValuesCountriesEX = [
        @foreach (var item in Model.CountriesEx)
        {
                    <text>"@item.Country",</text>
        }
    ];

    xValuesCountriesEX = @Html.Raw(
                                System.Text.Json.JsonSerializer.Serialize(
                                                Model.CountriesEx.Select(x => x.Country)
                                )
                );


    const yValuesCountriesEX = [
        @foreach (var item in Model.CountriesEx)
        {
                    <text>@item.CountOrders,</text>
        }
    ];

    const ctx4 = document.getElementById('myChart4');
    new Chart(ctx4, {
        type: "pie",
        data: {
            labels: xValuesCountriesEX,
            datasets: [{
                backgroundColor: barColors,
                data: yValuesCountriesEX
            }]
        },
        options: {
            plugins: {
                legend: { display: true },
                title: {
                    display: true,
                    text: "أعلى خمس دول بالنسبة للصادر",
                    font: { size: 16 }
                }
            }
        }
    });
</script>



