@using System.Text.RegularExpressions
@model List<EF.Models.WebsiteTypeDetail>
<!-- Page Header Start -->
<div class="container-fluid py-1">
    <div class="container py-2">
        <div class="row align-items-center py-4">
            <div class="col-md-6 text-center text-md-right">
                <i class=" fas fa-phone icon-style"></i>
                <h3 class="mb-4 mb-md-0 text-red text-uppercase output ">مكاتبنا</h3>
            </div>
            <div class="col-md-6 text-center text-md-left">
                <div class="d-inline-flex align-items-center">
                    <a class="btn btn-secondary" href="Offices/Index">مكاتبنا</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header Start -->
<!-- Contact Start -->
<div class="container-fluid">
    <div class="container">
        <div class="row">

            @if (Model != null && Model.Count > 0)
            {
                @foreach (var item in Model)
                {
                    var embedLink = ConvertToEmbedUrlWithoutApi(item.linkURL);
                  
                    <div class="col-lg-6" style="width:100%">
                        <div class="margins">
                            <div class="col-lg-6 " style="float:right;
          ">

                                <div class="bord">
                                    <span class="title bb">@item.TitleAr</span>

                                    <span class="des">@item.descAr </span>
                                    <span class="tel">@item.descEn </span>

                                </div>
                            </div>
                           
                             <div class="col-md-6" style="float:left">
                                @if (!string.IsNullOrEmpty(embedLink))
                                {
                                    <iframe src="@embedLink" width="50%" height="200" style="border:0;"
                                             loading="lazy"></iframe>
                                }
                               
                            </div> 
                       
                          
                        </div>
                    </div>

                }
}

            
        </div> 
        @* ///////////// *@
        
        @* /////////// *@
        @functions {
            public string ConvertToEmbedUrlWithoutApi(string shortUrl)
            {
                try
                {
                    using (var client = new HttpClient())
                    {
                        client.Timeout = TimeSpan.FromSeconds(5);
                        client.DefaultRequestHeaders.Add("User-Agent", "Mozilla/5.0");

                        var response = Task.Run(() =>
                        client.GetAsync(shortUrl, HttpCompletionOption.ResponseHeadersRead)).Result;

                        if (response.IsSuccessStatusCode)
                        {
                            var finalUrl = response.RequestMessage.RequestUri.ToString();

                            // البحث عن إحداثيات بأنماط مختلفة
                            var patterns = new[] {
                @"@([-+]?\d+\.\d+),([-+]?\d+\.\d+)",
                @"!3d([-+]?\d+\.\d+)!4d([-+]?\d+\.\d+)",
                @"[?&]q=([-+]?\d+\.\d+),([-+]?\d+\.\d+)",
                @"([-+]?\d+\.\d+),([-+]?\d+\.\d+)"
                };

                            foreach (var pattern in patterns)
                            {
                                var match = Regex.Match(finalUrl, pattern);
                                if (match.Success)
                                {
                                    return $"https://www.google.com/maps?q={match.Groups[1].Value},{match.Groups[2].Value}&output=embed";
                                }
                            }
                        }
                    }
                }
                catch { /* تجاهل الأخطاء في production */ }

                return null;
            }
        }


    </div>


</div>

<!-- Contact End -->
