@model ViewModels.HomeVM
@{
	ViewData["Title"] = "Home Page";
}

<!-- Carousel Start -->
@* ////////////////////rr///////////////  *@
<!-- Carousel Start -->
<div class="container-fluid p-0 ">
	<div id="header-carousel" class="carousel slide row" data-ride="carousel">
		

		<div class="carousel-inner ">
			<a class="carousel-control-next " href="#header-carousel" data-slide="next">
				<div class="btn btn-primary" style="width: 45px; height: 45px;">
					<span class="carousel-control-next-icon mb-n2"></span>
				</div>
			</a>
			@{
				bool isFirst = true; // Track the first item for 'active' class
			}
			@foreach (var item in Model.Slider)
			{
			
				<div class="carousel-item  imgSlid @(isFirst ? "active" : "")">
					<center>
                    <img src="@item.filepath" alt="Image">
				</center>
					<div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
					</div>
				</div>
				
				isFirst = false;
			}
			@* //////////////////////// *@


			<a class="carousel-control-prev " href="#header-carousel" data-slide="prev" style="right: 85%;">
				<div class="btn btn-primary" style="width: 45px; height: 45px;">
					<span class="carousel-control-prev-icon mb-n2"></span>
				</div>
			</a>
		</div>
	
	</div>
</div>
<!-- Carousel End -->


@*
<div class="container-fluid p-0 ">
	<div id="header-carousel" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">
			@{
				bool isFirst = true; // Track the first item for 'active' class
			}
			@foreach (var item in Model.Slider)
			{
				<div class="carousel-item @(isFirst ? "active" : "")">
					<img class="w-100" src="@item.filepath" alt="Image">
					<div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
					</div>
				</div>
				isFirst = false;
			}


		</div>
		<a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
			<div class="btn btn-primary" style="width: 45px; height: 45px;">
				<span class="carousel-control-prev-icon mb-n2"></span>
			</div>
		</a>

		<a class="carousel-control-next" href="#header-carousel" data-slide="next">
			<div class="btn btn-primary" style="width: 45px; height: 45px;">
				<span class="carousel-control-next-icon mb-n2"></span>
			</div>
		</a>
	</div>
</div> 

*@

<!-- Load jQuery + Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- Carousel End -->
<!-- About Start -->
<div class="container-fluid  mt-3">
	<div class="container">
		@if(Model.Intro != null && Model.Intro.Any()) {

			@foreach(var item in Model.Intro){

				<div class="row">
					<div class="col-lg-7 m-0 my-lg-5 pt-5 pb-5 pb-lg-2 pl-lg-5">
						<h2 class="mb-4 section-title">@item.TitleAr</h2>

						<p>@item.descAr</p>



					</div>



					<div class="col-md-5">
						<div class="view d-flex flex-column align-items-center justify-content-center  h-100 py-3 px-3 width-inherit">
							<img src="@item.filepath" class="img-logo-2" />
						</div>
					</div>
				</div>
			}
		}
		else
		{
			<p>No items to display</p>
		}
	</div>
</div>
<!-- About End -->
<!-- Services Start -->
<div class="container-fluid py-5 news-style">
	<div class="container py-5">
		<div class="row justify-content-center">
			<center>
			<div class="col-lg-6 col-md-6 col text-center mb-4" style="display: flex;">
			
				<i class="fas fa-newspaper"></i>
					<h1 class="mb-4 align-center title2">الاخبار</h1>

            </div>	
			</center>
		</div>
		@*/////////////////////*@
		<div class="row pb-3">
			@foreach (var item in Model.News) { 
				<div class="col-md-4 mb-4">
					<div class="card border-0 mb-2" style="    padding: 10px;">

						<img class="card-img-top img-height" src="@item.filepath" alt="">
						<div class="card-body bg-white p-4">
							<div class="d-flex align-items-center mb-3">
								<h5 class="m-0 ml-3 text-truncate">@item.TitleAr</h5>
								<a href="@Url.Action("RowDetail", "News", new { ID = item.ID,Type="الأخبار" })" class="btn btn-primary">
									<i class="fa fa-link"></i>
								</a>
								@* <a asp-area="" asp-controller="Newsdeteils" asp-action="Index" title="" class="btn btn-primary">
								<i class="fa fa-link"></i>
							</a> *@

							</div>

							<p>@item.descAr</p>


						</div>
					</div>
				</div>
			}

		</div>
		@*/////////////////////*@
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4 align-center ">
				@* ////////////////rrrrrr11-5-2025/////////////// *@
				<a href="@Url.Action("Index", "News", new { ID = 7 })" class="bg-gree btn btn-secondary box-shadow mt-3 py-2 px-4">
					مشاهدة المزيد من الاخبار
				</a>
				@* <a asp-area="" asp-controller="News" asp-action="Index" title="" class="btn btn-secondary box-shadow mt-3 py-2 px-4">
                    مشاهدة المزيد من الاخبار
                </a> *@
			</div>
			<div class="col-md-4"></div>
		</div>

	</div>
</div>
<!-- Services End -->
<!-- Team Start -->
<div class="container-fluid " style=" margin-top: 20px;margin-bottom: 50px;">
	<div class="container" dir="ltr">
		<div class="row  h-ads">
			@*////////////////الاعلانات//////////////////////////////*@
			<div class="col-md-3 col-sm-6">
				<div class="py-5 px-4  h-ads bg-green d-flex flex-column align-items-center justify-content-center">
					<h1 class="mb-0 text-center title2">الاعلانات</h1>

					@* ////////////////rrrrrr11-5-2025/////////////// *@
					<a href="@Url.Action("Index", "News", new { ID = 8 })" class="bg-gree btn btn-secondary box-shadow mt-3 py-2 px-4">
						مشاهدة المزيد
					</a>
					@*  <a asp-area="" asp-controller="advList" asp-action="Index" title="" class="btn btn-secondary box-shadow mt-3 py-2 px-4">
                        مشاهدة المزيد
                    </a> *@
				</div>
			</div>
			<div class="col-md-9 col-sm-6 p-0 mar-auto">
				@* 				menna
 *@
				<div class="ads-swiper-wrapper">

					<div class="swiper adsSwiper">
						<div class="swiper-wrapper">

							@foreach (var item in Model.Advertis)
							{
								<div class="swiper-slide">
									<div class="card">

										<div class="image-content">
											<span class="overlay"></span>
											<div class="card-image">
												<img src="@item.filepath" class="card-img">
											</div>
										</div>

										<div class="card-content">
											<h2 class="name">
												@if (item.Date != null)
												{
													@item.Date.Value.ToString("dd/MM/yyyy") 
												}
												@item.descAr
											</h2>

											<a href="@Url.Action("RowDetail","News",
					  			          new { ID = item.ID, Type = "الإعلانات" })"
										   class="description">
											<i class="fa fa-link"></i>
										</a>

										</div>

									</div>
								</div>


														}




						</div>

						<div class="swiper-button-next"></div>
						<div class="swiper-button-prev"></div>
					</div>

				</div>
			</div>









@* 				<div class="owl-carousel team-carousel position-relative p-0 py-sm-5"> 
					foreach (var item in Model.Advertis)
					{
						<div class="team d-flex flex-column text-center mx-3">
							<div class="position-relative">
								<img class="img-fluid w-100 img-height" src="item.filepath" alt="rrrrrrr">

							</div>
							<div class="d-flex flex-column bg-secondary text-center align-center py-3">

								<h5 class="text-white">(item.Date.HasValue ? item.Date.Value.ToString("dd/MM/yyyy") : "nodate") @item.descAr </h5>
								
								<a href="@Url.Action("RowDetail", "News", new { ID = item.ID,Type="الإعلانات" })" class="btn btn-primary">
									<i class="fa fa-link"></i>
								</a>
							</div>
						</div>
				}*@



				</div>
			</div>
		</div>
	</div>
</div>
<!-- Team End -->
<!-- Testimonial Start -->
@*////////////////التنبهات//////////////////////////////*@
<div class="container-fluid bg-efefef ">
	<div class="container" dir="ltr">
		<div class="row">
			<div class="col-md-7 py-5 pr-md-5">
				<h1 class="mb-4 title2">التنبيهات</h1>
				<div class="owl-carousel testimonial-carousel position-relative pb-5 mb-md-5">
					@foreach (var item in Model.Alert) { 
					<div class="d-flex flex-column" dir="rtl">
						<div class="d-flex align-items-center mb-3">
							<div class="ml-3">
								<h5>
@item.TitleAr
									
								</h5>
								@if(item.Date != null)
								{
									<i>@item.Date.Value.ToString("dd-MM-yyyy") </i>
								}
							</div>
						</div>
							<p> @item.descAr</p>
						</div>
					}
					
					
				</div>
			</div>
			@* ////////////////////static one image for alerts this image not in loop///////////// *@
			<div class="col-md-5">
				<div class="d-flex flex-column align-items-center justify-content-center h-100 overflow-hidden width-inherit">
					<i class="fa fa-bell bell" ></i>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="https://cdn.jsdelivr.net/gh/freeps2/a7rarpress@main/swiper-bundle.min.js"></script>

<script>
	document.addEventListener("DOMContentLoaded", function () {

	  const adsSwiper = new Swiper(".adsSwiper", {
		slidesPerView: 5,
		spaceBetween: 25,
		loop: true,
		grabCursor: true,
		observer: true,
		observeParents: true,
		dir: "rtl",

		navigation: {
		  nextEl: ".swiper-button-next",
		  prevEl: ".swiper-button-prev",
		},

		breakpoints: {
		  0: { slidesPerView: 1 },
		  768: { slidesPerView: 2 },
		  992: { slidesPerView: 3 },
		},
	  });

	});

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script>
	var swiper = new Swiper(".adsSwiper", {
		slidesPerView: 1,
		spaceBetween: 20,
		loop: true,
		navigation: {
			nextEl: ".swiper-button-next",
			prevEl: ".swiper-button-prev",
		},
	});
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>

